{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
    <div class="container">
        <div class="row create-team-form">

        </div>
        <div class="row">
            <div class="col s12 create-team-form">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %} {#endblock body#}